<div class="container regi-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Registration</h1>
		</div>

		<div class="col-sm-12">
			<form ng-submit="register()" id="regi-form">
				<div class="form-group">
					<label class="col-sm-4">Username</label>
					<div class="col-sm-4">
						<input type="text" ng-model="username" placeholder="enter username" minlength="4" maxlength="50" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4">Password</label>
					<div class="col-sm-4">
						<input type="password" ng-model="password" placeholder="enter password" minlength="4" maxlength="50" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4">Confirm Password</label>
					<div class="col-sm-4">
						<input type="password" ng-model="password2" placeholder="confirm password" minlength="4" maxlength="50" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4">Email</label>
					<div class="col-sm-4">
						<input type="email" ng-model="email" placeholder="enter email" minlength="4" maxlength="50" class="form-control">
					</div>
				</div>

				<div class="button-holder">
					<button type="submit" class="btn btn-success">Success</button>
				</div>

			</form>
		</div>
	</div>
</div>
